
#header{
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -30px;
  margin-right: -30px;
  border-color: #376698;
  border-width: 20px;
}
#fluidpage {
  background-image: linear-gradient(#d4d4d4, white);
}
#mainpage {
  background-color: white;
  padding-top: 15px;
  border-radius: 25px;
}
#sidebarpanel {
  padding-top: 15px;
  border-radius: 25px;
}
#error{
  color: #F5A52A;
  font-size: 18px;
}
#loadmessage {
   position: relative;
   border-radius: 25px;
   margin-left: auto; 
   margin-right: auto;
   top: 0px;
   left: 0px;
   width: 50%;
   padding: 5px 0px 5px 0px;
   text-align: center;
   font-weight: bold;
   font-size: 100%;
   color: #000000;
   background-color: #F5F5F5;
   z-index: 105;
}
